@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

:root {
  --main-font: 'Space Mono', monospace;
  --percent-btn-color: hsl(183, 100%, 15%);
  --white-color: white;
  --sublabel-color: hsl(184, 14%, 56%);
}

* {
  box-sizing: border-box;
}

body,
h1,
h2 {
  margin: 0;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.amount,
.result-label-container > span
,label
, .section-label > span
 { display: block; }


.flex,
.result-container__div,
.amount-container
  { display: flex; }

.flex-center {
  justify-content: center;
  align-items: center;
}

input,
button,
.radio-div > label
 {
  cursor: pointer;
}

span.display-none { 
  display: none; 
}

/* typography */
main { 
  font-family: var(--main-font);
}

label {
  color: hsl(186, 14%, 43%);
  font-size: 1.2em;
}

.result-label-container > span { letter-spacing: .05em; }
.result-label-container > .label {
  color: var(--white-color);
}
.result-label-container > .sublabel {
  color: var(--sublabel-color);
}

.amount-container > span {
  color: hsl(172, 67%, 45%);
  font-size: 2em;
}

.people-zero {
  color: rgb(225, 92, 34);
}

/* layout */

body {
  background-color: hsl(185, 41%, 84%);
  padding-top: 4em;
}

header { margin-bottom: 3em; }

.logo {
  display: block;
  margin: auto;
}

main {
  /* padding: 0 1em 1em; */
}

.main-div {
  background-color: hsl(0, 0%, 100%)
  ;
  border-radius: 1.3em 1.3em 0 0;
  padding: 1.5em 1.5em;

  display: flex;
  flex-direction: column;
}


.calc-container {
  margin-bottom: 2em;
}

.calc-container > div:not(:last-child) {
  margin-bottom: 2em;
}

.result-container {
  background-color: var(--percent-btn-color);
  border-radius: .8em;
  padding: 2em 1.5em 1.5em;

  display: flex;
  flex-direction: column;
  gap: 2.5em 0;
}

.result-container__div {
  justify-content: space-between;
  flex-wrap: wrap;
}

.tip-amount-container {
  margin-bottom: 1.5em;
}

.result-label-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.per-person-container {
  
}

/* inputs */

.input-icon-container { position: relative; }
.section-label {
  margin-bottom: .7em;
}

input[type=number] {
  text-align: right;
  font-family: var(--main-font);
  border: 2px solid hsl(189, 41%, 97%);
}

input[type=number]:hover {
  border: 2px solid hsl(172, 67%, 45%);
}
input[type=number]::placeholder {
  /* border: 2px solid hsl(172, 67%, 45%); */
  color: hsl(185, 10%, 58%);
}

.num-input,
.custom-tip {
  border-radius: .4rem;
  background-color: hsl(189, 41%, 97%);
}


.num-input {
  padding: .2em 1em .2em 2em;
  font-size: 1.7em;
}

input[type=number].is-zero-border {
  border: .157rem solid rgb(225, 92, 34);
}

.custom-tip {
  padding-right: 1em;
  font-size: 1.2em;
  width: 100%;
}

.icon {
  display: block;
  position: absolute;
  margin: auto 0;
  top: 0; left: 1em; bottom: 0; right: 0;

}

.btn-whole-width {
  width: 100%;
}

button { 
  border: none;
  border-radius: .4rem;
}

.percent-btn-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1em 1em;
}


input[type=radio] {
  display: none;
}

.radio-div > label {
 text-align: center;
 border-radius: .4rem;
 background-color: var(--percent-btn-color);
 padding: .5em 1em;
 

 color: white;
 font-size: 1.3em;
 letter-spacing: .1em;
}

.radio-div > label:hover,
.reset-btn:hover {
  color: hsl(183, 100%, 15%);
  background-color: hsl(185, 54%, 73%);
}

input[type=radio]:checked + label {
  color: hsl(183, 100%, 15%);
  background-color: hsl(172, 67%, 45%);
}

.people-zero-container {
  display: flex;
  justify-content: space-between;
}

.reset-btn {
  background-color: hsl(172, 67%, 45%);;
  padding: .6em;
  border-radius: .4rem;

  color: var(--percent-btn-color);
  font-size: 1.2em;
  font-weight: 700;
  text-transform: uppercase;
}

.reset-btn:disabled {
  background-color: hsl(186, 37%, 37%);
}


@media only screen and (min-width: 800px) {
  .percent-btn-container {
    grid-template-columns: repeat(3, 1fr);
    /* gap: .8em 2%; */
  }
}



@media only screen and (min-width: 1130px) {
  /* typography */

  .amount-container > span {
    font-size: 3em;
  }

  /* layout */
  body { padding: 4em 0 4em; }
  main { padding: 0 8em; }
  .main-div {
    border-radius: 1.3em;
    padding: 2em 2.5em;

    flex-direction: row;
    justify-content: space-between;
    gap: 0 2.5em;
  }

  .calc-container {
    flex: 1 1 0;
    margin-bottom: 0;
  }

  .result-container {
    padding: 2.5em 2em 3em;
    flex: 1 1 0;

    justify-content: space-between;
  }

  .percent-btn-container {
    grid-template-columns: repeat(3, 1fr);
  }

}