@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

:root {
  --main-font: 'Space Mono', monospace;
  --percent-btn-color: hsl(183, 100%, 15%);
  --white-color: white;
  --sublabel-color: hsl(184, 14%, 56%);
}

* {
  box-sizing: border-box;
}

body,
h1,
h2 {
  margin: 0;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.amount,
.result-label-container > span,
label
 { display: block; }

.flex,
.result-container__div,
.amount-container
  { display: flex; }

.flex-center {
  justify-content: center;
  align-items: center;
}

input,
button {
  cursor: pointer;
}

/* typography */
main { 
  font-family: var(--main-font);
}

.result-label-container > span { letter-spacing: .05em; }
.result-label-container > .label {
  color: var(--white-color);
}
.result-label-container > .sublabel {
  color: var(--sublabel-color);
}

.amount-container > span {
  color: hsl(172, 67%, 45%);
  font-size: 2em;
}

/* layout */

body {
  background-color: hsl(185, 41%, 84%);
  padding-top: 4em;
}

header { margin-bottom: 3em; }

.logo {
  display: block;
  margin: auto;
}

main {
  /* padding: 0 1em 1em; */
}

.main-div {
  background-color: white;
  border-radius: 1.3em 1.3em 0 0;
  padding: 1.5em 1.5em;

  display: flex;
  flex-direction: column;
}


.calc-container {
  margin-bottom: 2em;
}

.calc-container > div:not(:last-child) {
  margin-bottom: 1em;
}

.result-container {
  background-color: var(--percent-btn-color);
  border-radius: .8em;
  padding: 2em 1.5em 1.5em;

  display: flex;
  flex-direction: column;
  gap: 2.5em 0;
}

.result-container__div {
  justify-content: space-between;
  flex-wrap: wrap;
}

.tip-amount-container {
  margin-bottom: 1.5em;
}

.per-person-container {
  
}

/* inputs */

.input-icon-container { position: relative; }

input[type=number] {
  text-align: right;
  font-family: var(--main-font);
  border: 2px solid hsl(189, 41%, 97%);
}
input[type=number]:hover {
  border: 2px solid hsl(172, 67%, 45%);
}

.num-input,
.custom-tip {
  border-radius: .4rem;
  background-color: hsl(189, 41%, 97%);
}

label {
  font-size: 1.5em;
  margin-bottom: .4em;
}



.num-input {
  padding: .2em 1em .2em 2em;
  font-size: 1.7em;
}

.custom-tip {
  padding-right: 1em;
  font-size: 1.2em;
}

.icon {
  display: block;
  position: absolute;
  margin: auto 0;
  top: 0; left: 1em; bottom: 0; right: 0;

}

.btn-whole-width {
  width: 100%;
}

button { 
  border: none;
  border-radius: .4rem;
}

.percent-btn-container {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 1em 1em;
}

.percent-btn-container > button {
  background-color: var(--percent-btn-color);

  color: white;
  font-family: var(--main-font);
  font-size: 1.3em;
  letter-spacing: .1em;
  padding: .5em 1em;
}

.reset-btn {
  background-color: hsl(186, 37%, 37%);
  padding: .6em;
  border-radius: .4rem;

  color: var(--percent-btn-color);
  font-size: 1.2em;
  font-weight: 700;
  text-transform: uppercase;
}






@media only screen and (min-width: 1000px) {
  .main-div {
    flex-direction: row;
    justify-content: space-between;
    /* align-items: flex-start; */
    /* gap: 0 2em; */
  }

}